<header class="sticky top-0 z-50 bg-white border-b border-slate-200 shadow-sm">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between py-4">
      <div class="flex items-center">
        <a routerLink="/" class="text-2xl">🎓 Campus Hub</a>
      </div>

      <nav class="hidden md:flex items-center space-x-2">
        <a routerLink="/" class="flex items-center space-x-2 px-3 py-2 rounded-lg text-slate-600 hover:text-blue-600 hover:bg-slate-100 transition-colors duration-200" 
        routerLinkActive="!text-blue-600 !bg-blue-50 inline-flex items-center space-x-2 px-6 py-3 rounded-full text-xs font-medium bg-blue-100 text-blue-800" 
        [routerLinkActiveOptions]="{exact: true}">
          <span>Home</span>
        </a>
        <a routerLink="/explore" class="flex items-center space-x-2 px-3 py-2 rounded-lg text-slate-600 hover:text-blue-600 hover:bg-slate-100 transition-colors duration-200"
          routerLinkActive="!text-blue-600 !bg-blue-50 inline-flex items-center space-x-2 px-6 py-3 rounded-full text-xs font-medium bg-blue-100 text-blue-800 ">
          <span>Explore</span>
        </a>


        <a routerLink="/my-events" class="flex items-center space-x-2 px-3 py-2 rounded-lg text-slate-600 hover:text-blue-600 hover:bg-slate-100 transition-colors duration-200"
          routerLinkActive="!text-blue-600 !bg-blue-50 inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-blue-100 text-blue-800 ">
          <span>My Events</span>
        </a>
      </nav>

      <div class="flex items-center space-x-2" *ngIf="isAuthenticated">
        <div class="relative cursor-pointer p-2 flex rounded-lg hover:bg-slate-100 transition-colors duration-200" routerLink="/notifications">
          <ng-icon name="heroBell" class="text-xl"></ng-icon>
          <span class="absolute top-[1px] right-[2px] bg-red-500 text-white text-xs rounded-full h-3 w-3 flex items-center justify-center"
                *ngIf="unreadCount > 0">{{unreadCount}}</span>
        </div>

        <div class="flex items-center cursor-pointer rounded-lg hover:bg-slate-100 transition-colors duration-200"
             *ngIf="currentUser"
             routerLink="/profile">
          <ng-icon name="heroUser" class="text-xl"></ng-icon>
        
        </div>
      </div>

      <div class="flex items-center space-x-3" *ngIf="!isAuthenticated">
        <button class="btn btn-secondary" (click)="goToLogin()">
          <span class="hidden sm:inline">Login</span>
        </button>
      </div>
    </div>
  </div>
</header>
